{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row" id="wrap">
    <div class="col-sm" id="right_col">
        <h3>{{ title }}</h3>
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <div class="col-sm" id="left_col">
        <h3>Registered Users</h3>
        <table>
            <tr>
                <th>Username</th>
                <th>Email</th>
            </tr>
            {% for user in users %}
            <tr>
                <td><a href="{{ url_for('auth.user_view', uid=user.id) }}">{{ user.username }}</a></td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}