table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#wrap {
    width: 100%;
    margin: 0 auto;
    display: table;
}

#left_col {
   float:left;
   width:50%;
}

#right_col {
   float:right;
   width:50%;
}

@media only screen and (max-width: 480px){
    #left_col {
       width:100%;
    }
    #right_col {
       width:100%;
    }
}
