{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="col-md-4">
            <h2>Add Teacher:</h2>
                {{ wtf.quick_form(t_form) }}
            </div>
        </div>
        <div class="col-sm">
            <div class="col-md-4">
            <h2>Add Course:</h2>
                {{ wtf.quick_form(c_form) }}
            </div>
        </div>
        <div class="col-sm">
            <div class="col-md-4">
            <h2>Add Responsibility:</h2>
                {{ wtf.quick_form(r_form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
