{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>{{ title }}</h1>
<p>PWS Equity and Resource approved the following multipliers May 1, 2018:</p>
    <ul>
        <li>Humanities and Chemistry courses: 1.25</li>
        <li>All other STEM courses: 1.11</li>
        <li>Foreign Language courses: 1.05</li>
        <li>All other teaching: 1.00</li>
    </ul>
<p>Other multipliers, such as 'Weeks/year' and 'FT Expectation', have not been formally set.</p>
<br>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<br>
{% endblock %}