{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h3>{{ title }}</h3>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <tr>
        <td>{{ form.string_box() }}</td>
        <td>{{ form.submit() }}</td>
    </tr>
</form>
<br>
<table style="width:100%">
    <tr>
        <th>Course Title</th>
        <th>Instructor</th>
        <th>Duration (weeks)</th>
        <th>Minutes/week)</th>
        <th>Total (w/multiplier)</th>
        <th>Course Type</th>
    </tr>
    {% for course in courses %}
    <tr>
        <td><a href="{{ url_for('main.course_view', cid=course.id) }}">{{ course.title }}</a></td>
        {% if course.teacher_id %}
        <td>
            {% for teacher in course.teachers %}
            <a href="{{ url_for('main.teacher_view', tid=teacher.id) }}">
            {{ teacher.last_name }}, {{ teacher.first_name }}</a>
            <br>
            {% endfor %}
        </td>
        {% else %}
        <td><a href="{{ url_for('main.course_view', cid=course.id) }}">Assign instructor</a></td>
        {% endif %}
        <td>{{ course.weeks }}</td>
        <td>{{ course.min_per_week }}</td>
        <td>{{ course.total_time() }}</td>
        <td>{{ course.type }}</td>
    </tr>
    {% endfor %}
</table>
<br>
{% endblock %}
