{% extends "base.html" %}

{% block app_content %}
<h3>Welcome, {{ current_user.username }}. How may I serve you?</h3>

<a href="{{ url_for('main.teacher_list') }}">View teacher list.</a><br>
<a href="{{ url_for('main.course_list') }}">View course list.</a><br>
<a href="{{ url_for('main.responsibility_list') }}">View responsibilities list.</a><br>
<a href="{{ url_for('main.adds') }}">Add items.</a><br><br>
<a href="{{ url_for('main.change_multipliers') }}">Change multipliers.</a><br>
<a href="{{ url_for('auth.register') }}">User management.</a>
{% endblock %}


