{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h3>{{ title }}</h3>
<table style="width:100%">
    <tr>
        <th>Responsibility Name</th>
        <th>Members</th>
        <th>Hours per Month</th>
        <th>Months per Year</th>
        <th>Total Commitment</th>
    </tr>
    {% for resp in resps %}
    <tr>
        <td><a href="{{ url_for('main.responsibility_view', rid=resp.id) }}">{{ resp.name }}</a></td>
        {% if resp.members.all()|length > 0 %}
        <td>{% for member in resp.members %}
            <a href="{{ url_for('main.teacher_view', tid=member.id) }}">{{ member.last_name }}, {{ member.first_name }}</a><br>
            {% endfor %}
        </td>
        {% else %}
        <td><a href="{{ url_for('main.responsibility_view', rid=resp.id) }}">Assign members</a> </td>
        {% endif %}
        <td>{{ resp.hours_per_month }}</td>
        <td>{{ resp.months_per_year }}</td>
        <td>{{ resp.total_time() }}</td>
    </tr>
    {% endfor %}
</table>
<br>
{% endblock %}