{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>{{ title }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <tr>
        <td>{{ form.view_all() }}</td>
        <td>{{ form.view_hs() }}</td>
        <td>{{ form.view_grades() }}</td>
    </tr>
</form>
<br>
<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Teaching Load</th>
        <th>Percent of FT Teaching Expectation</th>
        <th>Other Load</th>
        <th>Total Load</th>
        <th>Percent of FT Expectation</th>
    </tr>
    {% for teacher in teachers %}
    <tr>
        <td><a href="{{ url_for('main.teacher_view', tid=teacher.id) }}">
            {{ teacher.last_name }}, {{ teacher.first_name }}</a></td>
        <td>{{ teacher.teaching_load() }}</td>
        <td>{{ teacher.teaching_load_p() }}%</td>
        <td>{{ teacher.nt_load() }}</td>
        <td>{{ teacher.total_load() }}</td>
        <td>{{ teacher.total_load_p() }}%</td>
    </tr>
    {% endfor %}
</table>
<br>
{% endblock %}